@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;600&display=swap');

@font-face {
    font-family: Titles;
    src: url("fonts/charlemagne-std.otf") format("opentype");
}

/* geral */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(images/bg.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: rgb(255, 255, 255);
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

::selection {
  background-color: #DAA520;
  color: black;
}

/* menu de navegação */

.navbar {
  line-height: 2em;
}

.navbar ul {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  margin-right: 2em;
  margin-top: 1.5em;
}

.navbar ul li {
  list-style-type: none;
}

.navbar ul li a {
  text-decoration: none;
  color: white;
  padding: 0.5em 1em;
  text-shadow: 3px 3px 5px rgba(37, 33, 32, 0.815);
  text-transform: uppercase;
  font-size: 1.2em;
}

.navbar ul li a:hover {
  background-color: #ffffff34;
  box-shadow: 2px 2px 4px rgba(49, 49, 49, 0.062);
  text-shadow: 2px 2px 6px rgb(0, 0, 0);
  transition: all 0.6s ease;
}

.page {
  background-color: #ffffff36;
}

/* Títulos */

.main-title {
  text-align: center;
  color: #DAA520;
  margin: 2em;
  font-size: 3em;
  text-shadow: 3px 3px 5px rgba(37, 33, 32, 0.815);
}

.main-title h1 {
  word-break: break-all;
  font-family: Titles;
}

.main-title h2,
h2 {
  font-size: 2rem;
  color: #e7d197;
  margin: 1.3em 0 0.5em 0;
}

.quote {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 2em;
  font-size: 1.5em;
}

.quote span {
  align-self: flex-end;
  font-size: 0.7em;
  padding: 0.5em;
}

.main-title.pages {
  font-size: 2em;
}

/* Conteúdo */

.icon-menu {
  color: #000000;
}

.img-title {
  box-shadow: 4px 4px 6px rgba(49, 49, 49, 0.349);
  margin-bottom: 2.5em;
  max-width: 85%;
}

.nav-serie ul {
  display: flex;
  justify-content: center;
}

.nav-serie ul li {
  list-style-type: none;

}

.nav-serie ul a i {
  text-decoration: none;
  color: white;
  margin: 0 20px 20px 20px;
  font-size: 30px;
}

.nav-serie ul a i:hover {
  text-decoration: none;
  color: white;
  margin: 0 20px 20px 20px;
  font-size: 30px;
}

.bg-light {
  background-color: rgba(255, 255, 255, 0.200);
  width: 60%;
  display: inline-block;
  padding: 2em;
  text-shadow: 1px 1px 5px black;
}

.bg-light.content {
  padding: 4em 6em;
}

.bg-light .p-main {
  line-height: 2em;
  font-size: 1.1em;
}

#cast {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 2em;
}

.character {
  padding: 10px 20px;
  margin: 0 1.5em 1.5em 1.5em; 
  border-radius: 50%;
}

.checked {
  color: orange;
}

.gif {
  max-width: 100%;
}

.img-roteiro {
  width: 70%;
  margin: 1.5em 0;
}

.roteiro {
  font-weight: normal;
  text-align: left;
  background-color: rgba(255, 255, 255, 0.281);
  padding: 0.6em;
  line-height: 1.2em;
  max-width: 70%;
  text-shadow: none;
  font-family: Arial, Helvetica, sans-serif;
  box-shadow: 2px 2px 3px #000000;
  color: #000000;
  margin: auto;
}

.roteiro h3 {
  font-weight: bold;
  line-height: 1.3em;
}

.point .roteiro p a{
  color: #ffffff;
}

.point p a { 
  text-decoration: none;
  color: #DAA520;
}

.point .roteiro:last-of-type {
  margin-bottom: 2em;
}

.point p a:hover {
  text-shadow: 2px 2px 2px #000000;
  font-weight: bold;
}

.img-w-100 {
  margin: 1.5em 0 0 0;
  max-width: 40%;
  border: 2px solid #ffffff;
}

ol {
  list-style-position: inside;
}

li figure figcaption {
  color: yellow;
}

figcaption span {
  color: rgb(255, 217, 0);
  font-weight: bold;
  font-size: 1.3em;
  display: block;
}

.bg-light ol li {
  padding: 1.5em;
  text-align: left;
}

/* Rodapé */

footer {
  color: grey;
  margin: 1em;
  color: #DAA520;
}

@media (max-width: 600px) {

  body {
    background-image: url(images/bg-2.jpg);
  }

  .navbar ul {
    margin: 0;
    justify-content: center;
  }

  .navbar ul li a {
   justify-content: space-between;
  }

  .page {
    background-color: transparent;
  }

  .main-title,
  .main-title.pages {
    margin: 1em 0 0 0;
    font-size: 1.2em;
  }  

  h2 {
    font-size: 1em;
  }

  .bg-light,
  .bg-light.content {
    width: 90%;
    text-shadow: none;
    padding: 1em;
    background-color: (255, 255, 255, 0.3);
  }

  iframe {
    max-width: 100%;
  }

  img,
  .img-title,
  .gif {
    max-width: 100%;
  }

  .img-roteiro,
  .gif {
    width: 80%;
  }

}
