/* geral */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(images/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: rgb(255, 255, 255);
  text-align: center;
  font-family: "Georgia";
}

::selection {
  background-color: #DAA520;
  color: black;
}

.navbar {
  line-height: 2em;
}

/* menu de navegação */

.navbar ul {
  display: flex;
  justify-content: flex-end;
  margin-right: 2em;
  margin-top: 1.5em;
}

.navbar ul li {
  list-style-type: none;
}

.navbar ul li a {
  text-decoration: none;
  color: white;
  padding: 0.5em 1em;
  font-weight: bold;
  text-shadow: 3px 3px 5px rgba(37, 33, 32, 0.815);
}

.navbar ul li a:hover{
  background-color: rgba(255, 255, 255, 0.200);
  border-radius: 10px;
  color: black;
  box-shadow: 2px 2px 4px rgba(49, 49, 49, 0.062);
  text-shadow: 0 0 4px rgb(255, 255, 255);

}

/* Títulos */

.main-title {
  text-align: center;
  color: #DAA520;
  margin: 2em;
  font-size: 3em;
  text-shadow: 3px 3px 5px rgba(37, 33, 32, 0.815);
}

.main-title h2 {
  font-size: 0.7em;
  color:#e7d197;
  padding: 0.5em;
}

.quote {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 2em;
}

.quote span {
  align-self: flex-end;
  font-size: 0.8em;
  padding: 0.5em;
}

.main-title.pages {
  font-size: 2em;
}

/* Conteúdo */

.bg-light {
  background-color: rgba(255, 255, 255, 0.200);
  max-width: 50%;
  display: inline-block;
  padding: 2em;
  text-shadow: 1px 1px 3px black;
}

.bg-light p::first-letter {
  font-weight: bold;
  font-size: 2em;
}

.bg-light p {
  line-height: 1.5em;
}



