
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(images/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: rgb(0, 0, 0);
  text-align: center;
  font-family: "Georgia";
}

.navbar {
  line-height: 2em;
}

.navbar ul {
  display: flex;
  justify-content: flex-end;
  margin-right: 2em;
  margin-top: 1.5em;
}

.navbar ul li {
  list-style-type: none;
}

.navbar ul li a {
  text-decoration: none;
  color: white;
  padding: 1em;
  margin: 0.5em;
}

.navbar ul li a:hover{
  background-color: rgba(255, 255, 255, 0.200);
  border-radius: 10px;
  color: black;
  box-shadow: 2px 2px 2px rgb(49, 49, 49);
}


#main-title {
  text-align: center;
  color: #DAA520;
  margin: 2em;
  font-size: 3em;
  text-shadow: 2px 2px 2px rgb(48, 42, 32);
}

.bg-light {
  background-color: rgba(255, 255, 255, 0.200);
  max-width: 60%;
  display: inline-block;
  padding: 2em;
}

.page-header {
  text-align: center;
  margin-bottom: 2em;
}


