@font-face {
    font-family: Titles;
    src: url("fonts/CharlemagneStd-Bold.otf") format("opentype");
}
.f-title {
    font-family: Titles;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: url("images/fontcolor.png");
    font-size: 45px;
    background-color: #040404;
}

.f-subtitle {
    font-family: Titles;
    color: white;
    font-size: 20px;
}

.f-header {
    font-family: Titles;
    color: white;
    font-size: 14px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: url("images/fontcolor.png");
    background-color: #040404;
}

.f-text {
    font-family: Nunito;
    color: white;
    font-size: 13px;
}


html {
    background-color: #ECECEC;
    background-image:url("images/bg.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: 100%;
}

body {
    /*font-family: "Nunito", sans-serif;*/
    color: #676a6c;
    height: 100%;
    font-family: Titles;
}

.main {
    display: block;
}

/*Componentes padrões*/
fieldset {
    border: 0.5px solid #ecebeb;
    border-radius: 10px;
    min-height: 50px;
}

    fieldset.row {
        margin-left: 0px;
        margin-right: 0px;
        padding-right: 0px;
        padding-left: 0px;
        border-color: #eee;
        color: #53a4ae;
        font-weight: bold;
    }

img {
    display: block;
    margin: auto;
}


/*Imagem*/
.img-sm {
    height: 40px;
    width: 40px;
    border: 0.5px solid transparent;
}

.img-md {
    height: 60px;
    width: 60px;
    border: 1px solid transparent;
}

.img-lg {
    height: 80px;
    width: 80px;
    border: 1.5px solid transparent;
}

.img-rounded {
    border-radius: 50%;
}

/*Textos e Alinhamentos*/
.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.text-center {
    text-align: center;
}

.center {
    margin: auto;
    width: 50%;
    padding: 10px;
}

h1 {
    margin: 4px;
}

/*Estruturas*/
.row {
    display: inline-block;
    width: 100%;
    margin-right: -15px;
    margin-left: -15px;
}

    .row [class^="col"] {
        padding-top: 10px;
        padding-bottom: 10px;
        position: relative;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
        float: left;
        height: 100%;
    }

.col {
    display: inline-block;
}

.col-1 {
    width: 8.33333333%;
}

.col-2 {
    width: 16.6666666%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33333333%;
}

.col-5 {
    width: 41.66666666%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33333333%;
}

.col-8 {
    width: 66.66666667%;
}

.col-9 {
    width: 74.99999999%;
}

.col-10 {
    width: 83.33333333%;
}

.col-11 {
    width: 91.66666666%;
}

.col-12 {
    width: 100%;
}

/*Margins, Paddings e Borders*/
.m-lg {
    margin: 15px;
}

.m-md {
    margin: 10px;
}

.m-sm {
    margin: 5px;
}

.m-b-lg {
    margin-bottom: 15px;
}

.m-t-lg {
    margin-top: 15px;
}

.m-t-md {
    margin-top: 10px;
}

.m-t-sm {
    margin-top: 5px;
}

.m-n-lg {
    margin: -15px;
}

.m-n-md {
    margin: -10px;
}

.m-n-sm {
    margin: -5px;
}

.p-lg {
    padding: 15px;
}

.p-md {
    padding: 10px;
}

.p-sm {
    padding: 5px;
}

.p-b-xg {
    padding-bottom: 50px;
}

.p-b-lg {
    padding-bottom: 15px;
}

.p-b-md {
    padding-bottom: 10px;
}

.p-b-sm {
    padding-bottom: 5px;
}

.p-t-lg {
    padding-top: 15px;
}

.p-t-md {
    padding-top: 10px;
}

.p-t-sm {
    padding-top: 5px;
}

.b-lg {
    border-width: 8px;
}

.b-md {
    border-width: 4px;
}

.b-sm {
    border-width: 2px;
}

.b-r-sm {
    border-radius: 5px;
}

.b-r-md {
    border-radius: 10px;
}

.b-r-lg {
    border-radius: 15px;
}
/*Cores*/
.bg-dark {
    color: white;
    background-color: #041222;
}

.bg-white {
    color: dimgray;
    background-color: white;
}

.bg-primary {
    color: white;
    background-color: #00bdd6;
}


.b-primary {
    border-color: #00bdd6;
}

.b-white {
    border-color: white;
}

.text-danger {
    color: orangered;
}

.text-yellow {
    color: orange;
}

.text-white {
    color: white;
}

.full-height {
    height: 100%;
}

.full-width {
    width: 100%;
}

/*Formulários*/
.btn {
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 3px;
    border: none;
    cursor: pointer;
    font-family: Nunito;
}

.btn-primary {
    background-color: #22a699;
    color: white;
}

.btn-default {
    background-color: white;
    color: dimgray;
}

.btn-start {
    font-family: Titles;
    border-radius: 50%;
    text-align: center;
    border: 0.5px solid white;
    width: 120px;
    height: 120px;
    color: white;
    background-color: transparent;
    margin-top: 50px;
    cursor: pointer;
    box-shadow: 0px 3px 5px 2px rgba(110,110,110,0.26);
    display: table;
    line-height: 30px;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
}

    .btn-start > span {
        display: table-cell;
        vertical-align: middle;
        text-decoration: none;
    }

.btn-start:hover{
    background-color: white;
    color: dimgray;
}

.form-control {
    border-radius: 5px;
    border: 1px solid;
    border-color: lightgray;
    padding: 5px;
    width: 95%;
    font-family: "Nunito", sans-serif;
    font-size: 13px;
    border-top: none;
    border-left: none;
    border-right: none;
}

    .form-control::placeholder {
        color: #7b7b7b;
        opacity: 0.5;
    }
    .form-control:focus {
        outline: none;
        border-bottom: 2px solid #40b8d1;
    }

.input-file {
    color: dimgray;
}

.input-checkbox {
    display: inline-block;
    font-weight: 400;
}

select option:disabled, select [disabled], select:invalid, select:first-child {
    color: lightgray;
    opacity: 1;
}

label {
    display: block;
    padding-bottom: 5px;
    color: dimgray;
    font-weight: bold;
}

.form-group {
    margin-bottom: 5px;
}

/*Componentes Customizados*/
#form-touristspot-about {
    resize: none;
}

.google-maps-container {
    width: 100%;
    padding: 5px;
}

.google-maps {
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    border: 4px solid #40b8d1;
}

.profile-img {
    overflow: visible;
    margin-bottom: -50px;
    position: sticky;
}

.box {
    box-shadow: 0px 3px 5px 2px rgba(110,110,110,0.26);
    padding: 15px;
    font-size: 13px;
    border-radius: 10px;
}

.box-title {
    padding: 15px;
    font-size: 13px;
    border-radius: 10px;
    background-color: #0000003b;
    height: 100%;
}

/*Carousel*/


HTML CSS

Result
Skip Results Iframe

EDIT ON

@keyframes tonext {
    75%

{
    left: 0;
}

95% {
    left: 100%;
}

98% {
    left: 100%;
}

99% {
    left: 0;
}

}

@keyframes tostart {
    75% {
        left: 0;
    }

    95% {
        left: -300%;
    }

    98% {
        left: -300%;
    }

    99% {
        left: 0;
    }
}

@keyframes snap {
    96% {
        scroll-snap-align: center;
    }

    97% {
        scroll-snap-align: none;
    }

    99% {
        scroll-snap-align: none;
    }

    100% {
        scroll-snap-align: center;
    }
}

body {
    max-width: 50.5rem;
    margin: 0 auto;
    padding: 0 1.25rem;
}

* {
    box-sizing: border-box;
    scrollbar-color: transparent transparent; /* thumb and track color */
    scrollbar-width: 0px;
}

    *::-webkit-scrollbar {
        width: 0;
    }

    *::-webkit-scrollbar-track {
        background: transparent;
    }

    *::-webkit-scrollbar-thumb {
        background: transparent;
        border: none;
    }

* {
    -ms-overflow-style: none;
}

ol, li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.carousel {
    position: relative;
    padding-top: 75%;
    filter: drop-shadow(0 0 10px #0003);
    perspective: 100px;
}

.carousel__viewport {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    overflow-x: scroll;
    counter-reset: item;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
}

.carousel__slide {
    position: relative;
    flex: 0 0 100%;
    width: 100%;
    background-color: #f99;
    counter-increment: item;
}

    .carousel__slide:nth-child(even) {
        background-color: #99f;
    }

    .carousel__slide:before {
        content: counter(item);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate3d(-50%,-40%,70px);
        color: #fff;
        font-size: 2em;
    }

.carousel__snapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    scroll-snap-align: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media (hover: hover) {
    .carousel__snapper {
        animation-name: tonext, snap;
        animation-timing-function: ease;
        animation-duration: 4s;
        animation-iteration-count: infinite;
    }

    .carousel__slide:last-child .carousel__snapper {
        animation-name: tostart, snap;
    }
}

@media (prefers-reduced-motion: reduce) {
    .carousel__snapper {
        animation-name: none;
    }
}

.carousel:hover .carousel__snapper,
.carousel:focus-within .carousel__snapper {
    animation-name: none;
}

.carousel__navigation {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
}

.carousel__navigation-list,
.carousel__navigation-item {
    display: inline-block;
}

.carousel__navigation-button {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    background-color: #333;
    background-clip: content-box;
    border: 0.25rem solid transparent;
    border-radius: 50%;
    font-size: 0;
    transition: transform 0.1s;
}

.carousel::before,
.carousel::after,
.carousel__prev,
.carousel__next {
    position: absolute;
    top: 0;
    margin-top: 37.5%;
    width: 4rem;
    height: 4rem;
    transform: translateY(-50%);
    border-radius: 50%;
    font-size: 0;
    outline: 0;
}

.carousel::before,
.carousel__prev {
    left: -1rem;
}

.carousel::after,
.carousel__next {
    right: -1rem;
}

.carousel::before,
.carousel::after {
    content: '';
    z-index: 1;
    background-color: #333;
    background-size: 1.5rem 1.5rem;
    background-repeat: no-repeat;
    background-position: center center;
    color: #fff;
    font-size: 2.5rem;
    line-height: 4rem;
    text-align: center;
    pointer-events: none;
}

.carousel::before {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='0,50 80,100 80,0' fill='%23fff'/%3E%3C/svg%3E");
}

.carousel::after {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='100,50 20,100 20,0' fill='%23fff'/%3E%3C/svg%3E");
}

